# exclude development materials 
nbattmap/
__pycache__/
.ipynb_checkpoints/ 
*.ipynb 
.DS_Store
.vscode/
# exclude unzipped machine learning resources and datasets 
ml_resources/
*.csv
*.pkl
*.joblib 
logs.txt